{% extends 'manicure/index.html' %}

 
    {% block manicure %}
    <h1>DATES</h1>
    <h1>Выберите месяц</h1>
    <form method="get">
        <select name="month">
            {% for value, name in months %}
                <option value="{{ value }}" {% if selected_month == value %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Отправить</button>
    </form>

    {% if selected_month %}
        <p>Вы выбрали месяц: {{ selected_month }}</p>
    {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% for service in service_dict %}
            <div 
            style="display:inline-block; 
            min-width: 500px; 
            width: 100%; 
            max-width: 800px;
            border: 2px solid #2E9AFF;
            border-radius: 10px;
            padding: 20px;
            margin: 20px;"
            >
                    {% include 'manicure/diagram.html' %}
            <div>{{ service.sum }} руб.</div>
            </div>
            

        {% endfor %}

    {% endblock %}
